<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | Sample Project | Divyansh Sahu</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="Enter your URL!"
            />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>
        <a href="https://www.linkedin.com/in/divyanshsahu55/"
          >Thanks for using!</a
        >
      </p>
      <p>
        The boilerplate for this project has been taken from
        <a
          href="https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects/url-shortener-microservice"
          >here.</a
        >
      </p>
    </footer>
  </body>
</html>
